.card-title {
    font-weight: 600;
    font-style: normal ;
    font-size: 25px;
    letter-spacing: 0.3px;
}
.alreadyHaveAccount {
    font-size: 18px;
}
.signUp {
    color: black;
    font-weight: bold;
    text-decoration: none;
}